@model Inventory.Models.Product

<h1>Product Details</h1>

<div>
    <h4>ID: @Model.Id</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Name</dt>
        <dd class="col-sm-10">@Model.Name</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">Image</dt>
        <dd class="col-sm-10">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Model.ImageUrl" class="img-fluid" />
            }
            else
            {
                <span>No image available</span>
            }
        </dd>

        <dt class="col-sm-2">Supplier</dt>
        <dd class="col-sm-10">@Model.Supplier?.Name</dd>

        <dt class="col-sm-2">Quantity</dt>
        <dd class="col-sm-10">@Model.Quantity</dd>

        <dt class="col-sm-2">Description</dt>
        <dd class="col-sm-10">@Model.Description</dd>
    </dl>
</div>

<a asp-action="Index">Back to List</a>
