<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="@Url.Content(product.ImageUrl)" class="card-img-top" alt="Product Image">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">Price: $@product.Price</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a href="@Url.Action("Buy", "PublicProducts", new { id = product.Id })" class="btn btn-primary">Buy</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Login to Buy</a>
                    }
                </div>
            </div>
        </div>
    }
</div>
